*{
   margin:0;
}
body {
	font-family: 'Roboto', sans-serif;
}
h1, h2, h3 {
	color: brown;
}
ul {
	list-style-image: url("images/tiny-coffee-cup.gif");
}
a:link, a:visited {
	text-decoration: none;
	color: brown;
	font-weight: bold;
}
a:hover {
	color: black;
}
nav ul {
	list-style-type: none;
}
nav li {
	display: inline;
}
nav a:link, nav a:visited {
	background-color: brown;
	color: white;
}
nav a:hover {
	background-color: black;
}
.menu-bar{
    color: white;
    background-color: #A52A2A;
    height: 72px;
    width: 100%;
    
}
/* Menu Logo/Brand */
.menu-bar h1{
    display: block;
    float: left;
    color: white;
    margin: 17px;
}
.menu-bar a{
    text-decoration: none;
    color: white;
}
.menu-bar ul{
    list-style-image: none;
    list-style-type: none;
}
.menu-bar li{
    float: left;
    text-align: center;
    font-size: 20px;
    line-height: 35px;
    padding: 20px 100px;
    margin-left: 1px;
    height: 32px;
    width: 40px;
    transition: background-color 0.5s;
}
.menu-bar li:hover{
    background-color:#842121;
}
